@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Roman&family=Nunito+Sans&family=Old+Standard+TT:wght@400;700&family=Open+Sans:wght@300&display=swap');

* {
    margin : 0;
    padding: 0;
}
p {
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #f3f3f3;
    font-family: "Poppins", sans-serif;
}

.container{
    height: auto;
    width: auto;
    position: relative;
    text-align: center;
    padding: 50px;
}

.container h1{
    text-align: center;
    font-size: 5rem;
    font-family: 'Old Standard TT', serif;
}

.container p{
    font-size: 2rem;
    font-family: 'Island Moments', cursive;
}

.slider-box{
    width: 95%;
    height: 90vh;
    overflow: hidden;
    margin: 50px auto;
    position: relative;
}
#slider{
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: 0.7s;
}
#slider img{
    height: 110vh;
    width: 100%;
}
.indicators{
    position: absolute;
    left:50%;
    bottom:20px;
    transform: translateX(-50%);
}
.indicators span{
    background-color: grey;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor:pointer;
}
.active {
    background: #ffff !important;
}

.navbar{
    display:flex;
    flex-direction: row;
    height: 20vh;
    background-color: #f0f1f1;
    padding: 5px;
    justify-content: space-between;
}

.logo{
    height: 20vh;
    width: 30vh;
    cursor: pointer;
}
nav {
    flex:1;
    text-align: right;
    padding: 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right:20px;
}

nav ul li a{
    color: #2c2b30;
    font-size: 30px;
    font-family:cursive;
    padding: 15px;
    text-decoration: none;
}
nav ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color:red;
}

#hamburger-icon{
    display: none;
}

.section {
    position: relative;
    width: 100%;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    text-align: center;
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

.section a{
    color: whitesmoke;
    text-decoration: none;
}
.section video{
    height: 100%;
    width: 100%;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 83vh;
    opacity: 0.5;
}

.lineup{
    display: flex;
    height: auto;
    padding: 50px;
    text-align: center;
    flex-direction: row;
}
.product{
    background-color: #DDDDDD;
    margin: 20px;
    padding-bottom: 50px;
    display: block;
    height: auto;
    width: 90%;
    
}
.product h1{
    font-size: 3rem;
    padding: 15px;
    font-family: 'Luxurious Roman', cursive;
}
.product p{
    padding: 15px;
}
.lineup img{
    height: 50vh;
    width: 50vh;
    padding:50px;
}
.lineup button{
    padding: 15px;
    height: 70px;
    width: 120px;
    font-size: 1rem;
}
.lineup button:hover{
    background-color: grey;
}

.foot{
    display: flex;
    height: 27vh;
    padding: 50px;
    justify-content: space-between;
    background-color: #CCCCCC;
}

.quick-links{
    text-decoration: none;
    padding: 10px;
    padding-left: 10px;
}

.quick-links h1{
    text-align: center;
    padding-left: 60px;
    font-size: 2.5rem;
}

.quick-links ul li {
    list-style-type: none;
    padding: 20px;
    text-shadow: grey;
    cursor: pointer;
    text-align: center;
}
.quick-links ul li :hover{
    color: white;
    cursor: pointer;
}
.quick-links ul li a{
    text-decoration: none;
    font-size: 1.25rem;
}

.contact{
    text-align: center;
    padding: 10px;
}
.contact h1{
    font-size: 2.5rem;
    padding:5px;
    font-family: 'Old Standard TT', serif;

}
.contact h2{
    padding:5px;
    font-size: 1.25rem;
}
.contact a{
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.25rem;
}
.contact a:hover{
    color:white;
}
.fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 140px;
    text-decoration: none;
    margin: 5px 80px;
}
.social-media{
    padding:10px;
}

.social-media h1{
    text-align: center;
    font-size: 2.5rem;
}
.social-media ul li{
    text-decoration: none;
    padding:5px;
    list-style-type: none;
}

#credits{
    padding-top: 75px;
}
@media only screen and (max-width:770px){

    header nav{
        display: none;
    }
    .navbar{
        display: none;
    }
    #myLinks ul li{
        list-style: none;
        padding: 5px;
    }
    #myLinks a{
        text-decoration: none;
    }
    .f-container{
        display: flex;
        height: 100vh;
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: flex-start;

    }    
    .f-container div:last-child img{
        width: 35vh;
        height: 35vh;
        display: block;
        margin-left: 12vh;
    }
    #hamburger-icon{
        display: flex;
        flex-direction: row;
        background-color: #f0f0f0;
        padding: 5px;
        justify-content: space-between;
        align-items: flex-start;
    }
    #hamburger-icon a{
        color: #2c2b30;
        font-size: 20px;
        font-family:cursive;
        padding-right: 20px;
    }

    #hamburger-icon a img{
        width: 50px;
    }

    #hamburger-icon img{
        width: 160px;
    }
    .buynow{
        height: 10px;
        width: 20px;
        padding: 10px;
    }
    .buynow a{
        font-size: 30px;
        background-color: white;
        color: black;
        text-decoration: none;
    }
    .section video{
        height: 100%;
        width: 175vh;
    }
    .product img{
        align-items: center;
        padding: 10px;
        height: 100%;
        width: 75%;
        padding-top: 50px;
    }
    .lineup{
        flex-direction: column;
    }
    #slider img{
        height: 100%;
        width: 100vh;
    }
    
    .container h1{
        font-size: 4rem;
    }
    
    .container p{
        font-size: 1.6rem;
        font-family: 'Island Moments', cursive;
    }
    .foot{
        flex-direction: column;
        height: 100vh;
        align-items: center;
        padding:50px;
    }
    .quick-links h1{
        align-items: center;
        padding:5px;
    }
    .quick-links a{
        align-items: center;
    }
    .contact h1{
        align-self: center;
        padding:5px;
    }
    .contact p{
        padding:5px;
        align-items: center;
    }
    .contact a{
        align-items: center;
    }
    .social-media{
        align-items: center;
    }
    .social-media h1{
        align-items: center;
        padding:5px;
    }
    .social-media ul li{
        padding:5px;
    }
    .social-media ul li a{
        padding: 20px;
    }
}