@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body{
    background-color: #f0f0f0;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display:flex;
    flex-direction: row;
    height: 10vh;
    background-color: #f0f0f0;
    padding: 5px;
    justify-content: space-between;
    
}
.logo{
    width: 25vh;
    cursor: pointer;
}
nav {
    flex:1;
    text-align: right;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right:20px;
}

nav ul li a{
    color: #2c2b30;
    font-size: 30px;
    font-family:cursive;
    padding: 15px;
}
nav ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color:red;
}
.f-container{
    display: flex;
    height: 60vh;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 20px;
    padding-top: 50px;
    background-image: linear-gradient(50deg, rgba(255,255,255,0.9) 50% ,rgba(0,0,0,0.5) 50%),url("wallpaper.png");
    
}
.f-container div:first-child{
    width: 60vh;
    height: 50vh;
    justify-content: space-between;
    padding-bottom: 50px;
}

.f-container div:first-child h1{
    font-size: 70px;
    padding-left: 30px;
    padding-top: 20px;
    color: #B9B7BD;
}
.f-container div:first-child p{
    font-size: 35px;
    padding-left: 30px;
    padding-top: 5px;
    color: #B9B7BD;
}

.f-container div:last-child{
    margin-left: auto;
    position: relative;
    width: 60vh;
    height: 60vh;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, -1);
    transition: 2s;
}

.f-container div:last-child img{
    width: 50vh;
    height: 50vh;
    display: block;
}

.buynow{
    height: 10px;
    width: 20px;
    padding-left: 30px;
    padding-top: 50px;
}
.buynow a{
    font-size: 30px;
    padding: 5px;
    margin-left: 20px;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}

.buynow a:hover{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, -1);
    color:red;
    transition:1s;
    transform: scale(1.2);
}
#hamburger-icon{
    display: none;
}

.section {
    position: relative;
    width: 100%;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    text-align: center;
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

.section a{
    color: whitesmoke;
    text-decoration: none;
}
.section video{
    height: 100%;
    width: 100%;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 83vh;
    opacity: 0.5;
}

@media only screen and (max-width:600px){

    header nav{
        display: none;
    }
    .navbar{
        display: none;
    }
    .f-container{
        display: flex;
        height: 100vh;
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: flex-start;

    }    
    .f-container div:last-child img{
        width: 35vh;
        height: 35vh;
        display: block;
        margin-left: 12vh;
    }
    #hamburger-icon{
        display: flex;
        flex-direction: row;
        background-color: #f0f0f0;
        padding: 5px;
        justify-content: space-between;
        align-items: flex-start;
    }
    #hamburger-icon a{
        color: #2c2b30;
        font-size: 20px;
        font-family:cursive;
        padding-right: 20px;
    }
    #hamburger-icon img{
        width: 160px;
    }
    .buynow{
        height: 10px;
        width: 20px;
        padding-left: 23vh;
        padding-top: 40px;
    }
    .buynow a{
        font-size: 30px;
        background-color: white;
        color: black;
        text-decoration: none;
    }
    .section video{
        height: 100%;
        width: 200vh;
    }
}